<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          مرحباً بكم في سولر باي - تجربة ويب تعمل بالطاقة الشمسية
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          "اكتشف كيف يلتقي الابتكار في التكنولوجيا مع الحلول المستدامة. موقع سولر باي هو عرض حي لموقع ويب مُستضاف على
          رازبري باي يعمل بالكامل بالطاقة الشمسية."
        </p>
        <div class="mt-12">
          <a href="#start-page"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
            Get started
          </a>
          <a href="https://github.com/omar20a"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank">
            Github Star
          </a>
        </div>
      </div>
    </div>
  </div>

  <img class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/pattern_angular.png" alt="..." />
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100" id="start-page">
  <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600">
          <img alt="..."
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
            class="w-full align-middle rounded-t-lg" />
          <blockquote class="relative p-8 mb-4">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px">
              <polygon points="-30,95 583,95 583,65" class="text-red-600 fill-current"></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              تحية طيبة
            </h4>
            <p class="text-md font-light mt-2 text-white">
              "نحن سعداء بزيارتكم! هذا الموقع هو دليل على قوة الطاقة المتجددة مقترنة بأحدث تقنيات الويب. هدفنا هو
              استعراض طريقة مستدامة لاستضافة المحتوى الرقمي باستخدام الطاقة النظيفة من الشمس."
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-sitemap"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">حول موقع سولر باي</h6>
                <p class="mb-4 text-blueGray-500">
                  "سولر باي هو مبادرة تهدف إلى إظهار كيفية استضافة مواقع الويب بكفاءة باستخدام رازبيري باي 4 يعمل
                  بالطاقة الشمسية. هذا المشروع لا يتعلق بالتكنولوجيا فقط؛ بل يسعى لتعزيز الاستدامة وإظهار كيفية استخدام
                  الطاقة الخضراء في العالم الرقمي."
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-drafting-compass"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  كيف يعمل؟
                </h6>
                <p class="mb-4 text-blueGray-500">
                  "نظامنا بسيط ولكنه قوي. لوحة شمسية صغيرة تشحن بطارية تُشغل رازبري باي الذي يستضيف هذا الموقع. الموقع
                  مُصمم باستخدام سولر باي، وهو امتداد جميل لـ لإبداعنا، مما يضمن تجربة خفيفة وسريعة ومُريحة للنظر."
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-newspaper"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">لماذا يُعد هذا مهمًا؟</h6>
                <p class="mb-4 text-blueGray-500">
                  "باستخدام الطاقة الشمسية، نساهم في تقليل البصمة الكربونية ونجعل الموارد الرقمية متاحة في المناطق التي
                  تفتقر للبنية التحتية. سولر باي يهدف إلى إلهام مبادرات مشابهة وتشجيع اعتماد الحلول بالطاقة المتجددة
                  للاحتياجات الرقمية."
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-file-alt"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">انضم إلينا في إحداث الفرق</h6>
                <p class="mb-4 text-blueGray-500">
                  "هل ترغب في معرفة المزيد عن كيفية إنشاء خادم خاص بك يعمل بالطاقة الشمسية؟ تواصل معنا أو استكشف وثائقنا
                  للبدء!"
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>